#This is a user-defined configuration file
#specifying debug options

#Syntax:
#Extra whitespace will be ignored and # symbols begin comments
#Words are case-sensitive and will be ignored if they are not understood

#Should debugging be enabled at all? Off by default.
SYMBOLS_ENABLED = True

#Should extra information about each event be listed, or is it enough to know 
#which events are being tracked?
VERBOSE_MODE = True

######################
#Events to be tracked
######################
#Each event must begin with "Event."

#Detects when the mouse is clicked and knows the position of the mouse and the 
#button that was pressed
#Event.MouseClickedEvent

#Detects if the program was started or exited
Event.StartEvent
Event.QuitEvent

Event.GenericDebugEvent